html.body{
  font-family: sans-serif;
  height:100%;
}



#highScores div div{
  padding: 5px;
  font-weight:600;
}

#highScores div div:nth-child(odd){
  background-color:#efe6f9;
}

#highScores button{
  margin:5px 0;
}

  

#contentPosition {
    display: flex;
    flex-direction:column;
    justify-content: center;
    min-height:calc(100% - 110px)
   
}

section {
    max-width: 50% ;
    margin: 0 auto;
}

#quizIntro {
    text-align: center;
}

 h1{
  font-size: 30px;
  margin-bottom: 30px;
}

#quizIntro p{
  
  margin-bottom: 30px;
}

  
  #setParameters {
      background-color: rgb(43, 153, 226);
      
  }


  #stats{
    max-width:980px;
    margin: 0 auto;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;
    padding: 16px 30px;
  }
  
  #scoreList {
  
    left:40px;
    background-color: #4b8dc2;
    color: white;
  }
  
  #timer{
  
    right:50px;
  }
  

  button{
    background-color:  #4b8dc2;
    color:white;
    border: none;
    cursor:pointer;
    padding:5px;
    border-radius: 5px;
    
  }
  

  #quizIntro button:hover{
    background-color: rgb(84, 101, 156);
  }
  
  #answerOptions #answerText {
      font-weight: 700;
  }

  #answerOptions button {
      background-color:  rgb(43, 153, 226);
      color:white;
      cursor:pointer;
      display:block;
      text-align: center;
      margin: 5px 0;
      padding: 5px 5px;
      width: 100%;
  }
  #answerOptions button:hover{
      background-color: rgb(43, 86, 226);

  }
 
#currentScore, #badInput {
  border-top: 1px solid #999;
  color: #41275e;
  font-size: 1.3em;
  margin: 0;
  font-style: italic;
  font-weight:700;
  margin: 10px auto;

}

#currentScore p, #badInput p {
  margin-top: 15px;
  margin: 0;
}

#topScores input, #topScores button {
  margin-top:10px;
}


}
  #completeQuiz, #topScores {
    display:flex;
  
}
  .hide {
      display: none;
  }
  .remove {
      visibility: hidden;
  }

  .disablePointer{
    pointer-events:none;
    }
    



  @media only screen and (min-width: 768px) {

  #contentPosition{
    min-height: calc(100% - 82px)
  }

  #completeQuiz #topScores{
    display:flex;
    align-items: center;
  }

  #completeQuiz #topScores input, #completeQuiz #topScores button{
    margin-left:10px;
  }

  #stats{
    flex-direction:row;
  }

  #answerOptions{
    min-width:420px;
  }

  #answerOptions ol{
    min-width:100%;
  }

}
