#quizIntro{
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-height: calc(100% - 110px)
  }
  
  #setParameters {
      background-color: rgb(43, 153, 226);
  }

  #answerOptions {
      font-weight: 600;
  }

  #answerOptions button {
      background-color:  rgb(43, 153, 226);
      color:white;
      cursor:pointer;
      display:block;
  }