#quizIntro{
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-height: calc(100% - 110px)
  }
  
  #setParameters {
      background-color: rgb(43, 153, 226);
  }

  #answerOptions {
      font-weight: 600;
  }

  #answerOptions button {
      background-color:  rgb(43, 153, 226);
      color:white;
      cursor:pointer;
      display:block;
      text-align: center;
      margin: 5px 0;
      padding: 5px 5px;
      width: 100%;
  }
  #answerOptions button:hover{
      background-color: rgb(43, 86, 226);
  }